<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
         />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--    Android 13+ (API 33+)-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--    Android 14 (API 34)-->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:name=".network.MyApplicationCloudinary"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_check_cadet_42"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_check_cadet_42_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CC42"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:configChanges="orientation"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="false"
            android:theme="@style/Theme.CC42.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- capturar o redirecionamento de volta para aplicação -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="checkcadet42"
                    android:scheme="cc42" />
                <!-- capturar o redirecionamento de volta para aplicação -->
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--Para compartilhar arquivos de forma segura, o Android exige que você use um FileProvider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--        FirebaseMessaging-->
        <service
            android:name=".NavigationDrawerActivity$MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
    </application>
</manifest>